* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}

:root {
  --primary-color: #b33771;
  --secondary-color: #6d214f;
}
